@tailwind base;
@tailwind components;
@tailwind utilities;
.expanded {
  width: 240px;
  transition: width 0.5s ease;
}
.shrinked {
  width: 85px;
  transition: width 0.5s ease;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .expanded-pages {
    padding-left: 85px;
  }
  .shrinked-pages {
    padding-left: 85px;
  }
}
@media (min-width: 1024px) {
  .expanded-pages {
    padding-left: 240px;
    transition: padding-left 0.5s ease;
  }
  .shrinked-pages {
    padding-left: 85px;
    transition: padding-left 0.5s ease;
  }
}
.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
